.DS_Store
*.conf
!server/ble/com.sentryusb.ble.conf
*.iml
*.ipr
*.iws
.idea/

# Go
server/bin/
server/static/*
!server/static/.gitkeep

# Node
web/node_modules/
web/dist/
deploy/
internal/

cmd/
internal/
.claude
.worktrees/
.superpowers/
videos
docs
